body {
    margin: 0;
}

.hidden {
    display: none;
}

.console {
    position: relative;
    background-color: #EEEEEE;
    width: 960px;
    height: 640px;
}

.dock {
    position: absolute;
    -webkit-box-sizing: border-box;
    width: 200px;
    top: 0px;
    bottom: 0px;
    height: auto;
    //height: 640px;
    //border: solid 1px grey;
    //margin: 4px;
    padding: 0px;
    background-color: #DDDDDD;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 8px #888;
}

.slot {
    box-shadow: 0 0 8px #888;
    -webkit-box-sizing: border-box;
    border: 1px solid lightgrey;
    width: 100%;
    height: 100%
}

.spot {
    position: relative;
    -webkit-box-sizing: border-box;
    padding: 15px;
    z-index: 2;
}

.docked {
}

.undocked {
}

.animates {
    -webkit-transition: all ease-in-out 0.75s;
}

.undockedAbove {
    z-index: 2;
}

.lightbox {
    position: absolute;
    top: 50px;
    left: 246px;
    width: 620px;
    height: 480px;
    border: solid 1px grey;
    margin: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 0 0 4px black;
}

.dockable {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
    background-color: white;
    //border: 1px solid #EEEEEE;
    //box-shadow: 0 0 10px black;
    -webkit-transform-origin: top left;
}

.undock {
    position: relative;
    width: 480px;
    height: 320px;
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 10px;
}

#logo {
    position: absolute;
    vertical-align: middle;
    text-align: center;
    bottom: 50%;
    width: 100%;
    margin: auto;
    opacity: 0.1;
}

#videoPlayer {
    width: 480px;
    height: 320px;
}

#playerControlContainer {
    margin-top: 20px;
    bottom: 25px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

#playerControls {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#playButton {
    text-align: center;
    margin-left: 130px;
    margin-right: 100px;
    vertical-align: middle;
}

#fullscreenButton {
    text-align: center;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

#shrinkButton {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

